rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Universal access for development applet to ensure no "Permission Denied" errors on logging, settings, coupon codes, and delivery zones.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
